@use '../config';
@use '../utils/generate-variants';
@use 'sass:map';

@mixin align-self($screen: null) {
  $args: map.get(config.$variants, 'align-self'), $screen;

  @include generate-variants.non-configurable($args...) using ($prefix, $state) {
    .#{$prefix}self-auto#{$state} { align-self: auto; }
    .#{$prefix}self-start#{$state} { align-self: flex-start; }
    .#{$prefix}self-center#{$state} { align-self: center; }
    .#{$prefix}self-end#{$state} { align-self: flex-end; }
    .#{$prefix}self-stretch#{$state} { align-self: stretch; }
  };
}