@mixin align-content($screen: null) {
  @include generate-variants('align-content', $screen) using ($prefix, $state) {
    .#{$prefix}content-start#{$state} { align-content: flex-start; }
    .#{$prefix}content-center#{$state} { align-content: center; }
    .#{$prefix}content-end#{$state} { align-content: flex-end; }
    .#{$prefix}content-between#{$state} { align-content: space-between; }
    .#{$prefix}content-around#{$state} { align-content: space-around; }
  }
}