@use "../utils/generate-variants";
@mixin background-position($screen: null) {
  @include generate-variants.generate-variants('background-position', $screen) using ($prefix, $state) {
    .#{$prefix}bg-bottom#{$state} { background-position: bottom; }
    .#{$prefix}bg-center#{$state} { background-position: center; }
    .#{$prefix}bg-left#{$state} { background-position: left; }
    .#{$prefix}bg-left-bottom#{$state} { background-position: left bottom; }
    .#{$prefix}bg-left-top#{$state} { background-position: left top; }
    .#{$prefix}bg-right#{$state} { background-position: right; }
    .#{$prefix}bg-right-bottom#{$state} { background-position: right bottom; }
    .#{$prefix}bg-right-top#{$state} { background-position: right top; }
    .#{$prefix}bg-top#{$state} { background-position: top; }
  }
}