@mixin background-size($screen: null) {
  @include generate-variants('background-size', $screen) using ($prefix, $state) {
    .#{$prefix}bg-atuo#{$state} { background-size: auto; }
    .#{$prefix}bg-cover#{$state} { background-size: cover; }
    .#{$prefix}bg-contain#{$state} { background-size: contain; }
  }
}