@use "../utils/generate-variants";
@mixin background-attachment($screen: null) {
  @include generate-variants.generate-variants('background-attachment', $screen) using ($prefix, $state) {
    .#{$prefix}bg-fixed#{$state} { background-attachment: fixed; }
    .#{$prefix}bg-local#{$state} { background-attachment: local; }
    .#{$prefix}bg-scroll#{$state} { background-attachment: scroll; }
  }
}