@mixin border-width-classes($prefix, $modifier, $state, $value) {
  .#{$prefix}border#{$modifier}#{$state} { border-width: $value; }
  .#{$prefix}border-t#{$modifier}#{$state} { border-top-width: $value;}
  .#{$prefix}border-r#{$modifier}#{$state} { border-right-width: $value;}
  .#{$prefix}border-b#{$modifier}#{$state} { border-bottom-width: $value;}
  .#{$prefix}border-l#{$modifier}#{$state} { border-left-width: $value;}
}

@mixin border-width($screen: null) {
  @include generate-variants-with-config($border-width, 'border-width', $screen) using ($prefix, $modifier, $state, $value) {
    @include border-width-classes($prefix, $modifier, $state, $value);
  };
  
  @include generate-variants-with-config($border-width-em, 'border-width-em', $screen) using ($prefix, $modifier, $state, $value) {
    @include border-width-classes(#{$prefix}, '#{$modifier}\\[em\\]', $state, $value);
  };
}