

@mixin border-radius-classes($prefix, $modifier, $state, $value) {
  .#{$prefix}rounded#{$modifier}#{$state} { border-radius: $value; }
  .#{$prefix}rounded-t#{$modifier}#{$state} { border-top-left-radius: $value; border-top-right-radius: $value; }
  .#{$prefix}rounded-r#{$modifier}#{$state} { border-top-right-radius: $value; border-bottom-right-radius: $value; }
  .#{$prefix}rounded-b#{$modifier}#{$state} { border-bottom-right-radius: $value; border-bottom-left-radius: $value; }
  .#{$prefix}rounded-l#{$modifier}#{$state} { border-bottom-left-radius: $value; border-top-left-radius: $value; }
  .#{$prefix}rounded-tl#{$modifier}#{$state} { border-top-left-radius: $value; }
  .#{$prefix}rounded-tr#{$modifier}#{$state} { border-top-right-radius: $value; }
  .#{$prefix}rounded-tl#{$modifier}#{$state} { border-top-left-radius: $value; }
  .#{$prefix}rounded-br#{$modifier}#{$state} { border-bottom-right-radius: $value; }
  .#{$prefix}rounded-bl#{$modifier}#{$state} { border-bottom-left-radius: $value; }
}

@mixin border-radius($screen: null) {
  @include build-variants($border-radius, 'border-radius', $screen) using ($prefix, $modifier, $state, $value) {
    @include border-radius-classes($prefix, $modifier, $state, $value);
  }
  @include build-variants($border-radius-em, 'border-radius-em', $screen) using ($prefix, $modifier, $state, $value) {
    @include border-radius-classes('#{$prefix}\\*', $modifier, $state, $value);
  }
}