

@mixin flex-direction($screen: null) {
  @include build-simple-variants('flex-direction', $screen) using ($prefix, $state) {
    .#{$prefix}flex-row#{$state} { flex-direction: row; }
    .#{$prefix}flex-row-reverse#{$state} { flex-direction: row-reverse; }
    .#{$prefix}flex-col#{$state} { flex-direction: column; }
    .#{$prefix}flex-col-reverse#{$state} { flex-direction: column-reverse; }
  }
}