@use '../config';
@use '../utils/generate-variants';
@use 'sass:map';

@mixin margin($screen: null) {
  $args: config.$margin, map.get(config.$variants, 'margin'), $screen;

  @include generate-variants.configurable($args...) using ($prefix, $modifier, $state, $value) {
    $value: if($value == auto, $value, $value * 1rem);
    
    // CHILDREN
    .#{$prefix}m#{$modifier}\>\* > * { margin: $value; };

    // LOBOTOMIZED OWL
    .#{$prefix}mt#{$modifier}\>\*\+\*#{$state} > * + * { margin-top: $value; }
    .#{$prefix}ml#{$modifier}\>\*\+\*#{$state} > * + * { margin-left: $value; }

    // DEFAULT
    .#{$prefix}m#{$modifier}#{$state} { margin: $value; };
    .#{$prefix}mx#{$modifier}#{$state} { margin: { left: $value; right: $value; } };
    .#{$prefix}my#{$modifier}#{$state} { margin: { top: $value; bottom: $value; } };
    .#{$prefix}mt#{$modifier}#{$state} { margin-top: $value };
    .#{$prefix}mr#{$modifier}#{$state} { margin-right: $value };
    .#{$prefix}mb#{$modifier}#{$state} { margin-bottom: $value };
    .#{$prefix}ml#{$modifier}#{$state} { margin-left: $value };
  }
  
  $args-negative: config.$margin-negative, map.get(config.$variants, 'margin-negative'), $screen;

  @include generate-variants.configurable($args-negative...) using ($prefix, $modifier, $state, $value) {
    $value: $value * -1rem;
    
    .#{$prefix}-m#{$modifier}#{$state} { margin: $value; };
    .#{$prefix}-mx#{$modifier}#{$state} { margin: { left: $value; right: $value; } };
    .#{$prefix}-my#{$modifier}#{$state} { margin: { top: $value; bottom: $value; } };
    .#{$prefix}-mt#{$modifier}#{$state} { margin-top: $value };
    .#{$prefix}-mr#{$modifier}#{$state} { margin-right: $value };
    .#{$prefix}-mb#{$modifier}#{$state} { margin-bottom: $value };
    .#{$prefix}-ml#{$modifier}#{$state} { margin-left: $value };
  }
}