@mixin resize($screen: null) {
  @include generate-variants('resize', $screen) using ($prefix, $state) {
    .#{$prefix}resize-none#{$state} { resize: none; }
    .#{$prefix}resize#{$state} { resize: both; }
    .#{$prefix}resize-y#{$state} { resize: vertical; }
    .#{$prefix}resize-x#{$state} { resize: horizontal; }
  }
}