@mixin word-break($screen: null) {
  @include generate-variants('word-break', $screen) using ($prefix, $state) {
    .#{$prefix}break-normal#{$state} { word-break: normal; overflow-wrap: normal }
    .#{$prefix}break-words#{$state} { overflow-wrap: break-word; }
    .#{$prefix}break-all#{$state} { word-break: break-all; }
    
    .#{$prefix}truncate#{$state} {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}