[class*=truncate-multiline] {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

/*
  Hide elements visually and keep them
  discoverable by screen readers
  Source: Bootstrap
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/*
  Animated line effect
  --------------------
  It draws a line growing from center to the edges with a smooth animation.
  Dependency class: [relative]
*/
.line-animation {
  &::after {
    content: "";
    width: 0;
    border-top: 3px solid gold; /* replace with mixin */
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3D(-50%,0,0);
    transition: width 400ms ease;
  }

  &:hover::after { width: 100%; }
}

/*
  BACKGROUND OVERLAY UTILITY
  
  Translucid overlay for image & text compositions.
*/
[class*='overlay']::before {
  content: '';
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.overlay::before {
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay-gradient-b::before {
  background-image: linear-gradient(to bottom, transparent 5%, #000);
}

.overlay-gradient-t::before {
  background-image: linear-gradient(to top, transparent, #000);
}

/* Special aspect ratio case */
.aspect-ratio-4\:3\+0\.5rem { padding-top: calc(3/4 * 100% + 0.5rem); }

/*
  CLONE PADDING ON INLINE ELEMENTES

  When inline elements break to a new line clone x axis
  padding.
*/
.box-decoration-clone { 
  -webkit-box-decoration-break: clone; 
  box-decoration-break: clone; 
}

/* 
  ARROW FOR SPEECH BUBBLE BOX
  
  Dependency classes: [relative, class]
*/
.speech-bubble-arrow::after {
  content: "";
  border-color: black transparent transparent black;
  border-style: solid;
  border-width: 0.3em;
  position: absolute;
  bottom: -0.4em;
  display: block;
  left: 0;
}

/*
  Make links inside parent elements cover the entire container (making it all 
  clickable). This trick is specially useful for cards where we have more links.
  
  Dependens on `relative` utility
  
  !Note: if any transform action is perfomed on said element this utility won't
  work properly.
*/
.link-stretch::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.slide-left { transform: translate3d(-100%, 0, 0); }
.slide-right { transform: translate3d(0,0,0); }