@import "generators/mediaquery";

*, ::before, ::after { border: 0 solid currentColor; }

button { font-size: 1rem; }

input,
textarea { font-size: 1rem; }

.menu-button {
  @include mediaquery($max: 578px) {
    position: fixed;
    bottom: .5rem;
    right: .5rem;
  };

  width:1.75em;
  height:1.75em;
  background: gold linear-gradient(
  black, black 2px,
    transparent 2px, transparent 6px,
  black 6px, black 8px,
    transparent 8px, transparent 12px,
  black 12px, black 14px
  ) no-repeat 50% 50%;
  background-size: 22px 14px;
  cursor: pointer;
}

.nav-menu > a { transition: transform 400ms ease; }

.nav-menu:hover > a {
  transition: 400ms ease;
  opacity: .5;
  transform: translate3d(-15%, 0, 0);

  &:hover { 
    transform: scale3d(1.15, 1.15, 1.15);
    opacity: 1;
  }
  
  &:hover ~ * { 
    transform: scale3d(1,1,1) translate3d(15%, 0, 0); 
  }
}

