// # BREAKPOINTS                                                                        
$breakpoints: (
  sm: (min: 576px),
  md: (min: 768px),
  lg: (min: 960px),
  xl: (min: 1200px),
);

// # COLORS
$colors: (
  // Brand colors
  cornflowerblue: cornflowerblue,
  darkgray: darkgray,
  gold: gold,
  gray: gray,
  lightgray: lightgray,
  transparent: transparent,
  
  // Basic colors
  black: #212121,
  white: white,

  // Grayscale colors
  gray-600: #3B3B3B,
  gray-500: #616161,
  gray-400: #767676,
  gray-300: #ABABAB,
  gray-200: #DBDBDB,
  gray-100: #F5F5F5,

  // State colors
  success: #28A745,
  info: #17A2B8,
  warning: #FFC107,
  danger: #DC3545
);

// # WIDTHS
$widths: (
  full: 100%,
  screen: 100vw,
);

// # MARGINS
//
// Class variants: .m-{side?}-{size}
// CSS property: margin

$margins: (
  auto: auto,
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  7: 1.75rem,
  8: 2rem,
  9: 2.25rem,
  10: 2.5rem,
);

// # NEGATIVE MARGINS
//
// Class variants: -m-{side?}-{size}
// CSS property: margin

$negative-margins: (
  1: -0.25rem,
  // 2: -0.5rem,
  // 3: -0.75rem,
  // 4: -1rem,
  5: -1.25rem,
  // 6: -1.5rem,
  // 7: -1.75rem,
  // 8: -2rem,
  9: -2.25rem,
);

// # PADDINGS (rems)
//
// Rems are very intuitive and used heavily for almost any kind of ui element.
// For buttons or elements that need to be scalable use em paddings instead.
// 
// Class variants: p-{side?}-{size}
// CSS property: padding

$paddings: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  7: 1.75rem,
  8: 2rem,
  9: 2.25rem,
  10: 2.5rem,
);

// # PADDINGS (ems)
// 
// Ems are very useful for scalable ui elements like buttons.
// 
// Class variants: *p-{size?}-{size}
// CSS property: padding

$em-paddings: (
  0: 0,
  1: 0.25em,
  2: 0.5em,
  3: 0.75em,
  4: 1em,
  5: 1.25em,
  6: 1.5em,
  7: 1.75em,
  8: 2em,
  9: 2.25em,
  10: 2.5em,
);

// # DISPLAY
//
// Class name: .{layout}
// CSS property: display

$display: (
  block,
  flex,
  grid,
  inline-block,
  inline-flex
  inline-grid,
  inline,
  none,
);

// # BORDERS
//
// Class name: .{*?}border{-side?}{-width?}
// CSS property: border-width
//
// Note: if we prefix it with ‘*’ and ems variant are enabled we can use em 
// borders besides rem variants.

$border-widths: (
  default: 1px,
  0: 0,
  2: 0.125rem,
  4: 0.25rem,
  8: 0.5rem,
);

$em-border-widths: (
  default: 0.25em,
  2: 0.125em,
  4: 0.25em,
  8: 0.5em,
);

$border-radius: (
  none: 0,
  default: .25rem,
  lg: 0.5rem,
  sm: .125rem,
  full: 9999px,
);

$opacity: (
  0: 0,
  25: .25,
  50: .5,
  75: .75,
  100: 1,
);

$positions: (
  relative,
  absolute,
  static,
  fixed,
  sticky,
);

$z-index: (
  auto: auto,
  0: 0,
  10: 10,
  20: 20,
  30: 30,
  40: 40,
  50: 50,
);

$font-sizes: (
  xs: 0.75rem,  // 12px
  sm: 0.875rem, // 14px
  base: 1rem,   // 16px <== base
  lg: 1.125rem, // 18px
  xl: 1.25rem,  // 20px
  2xl: 1.5rem,  // 24px
  3xl: 1.875rem,// 30px
  4xl: 2.25rem, // 36px
  5xl: 2.622rem,// 42px
  9xl: 4.12rem, // 66px
);

$fonts: (
  sans: (
    'system-ui',
    'BlinkMacSystemFont',
    '-apple-system',
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Futura',
    'Helvetica Neue',
    'Helvetica',
    'sans-serif',
  ),
  serif: (
    'Georgia',
    'Baskerville',
    'Garamond',
    'Times New Roman',
    'Times',
    'Constantia',
    'Lucida Bright',
    'Lucidabright',
    'Lucida Serif',
    'Lucida',
    'DejaVu Serif',
    'Bitstream Vera Serif','Liberation Serif',
    'serif',
  ),
  monospace: (
    'Menlo',
    'Monaco',
    'Consolas',
    'Liberation Mono',
    'Courier New',
    'monospace',
  ),
);

$leading: (
  none: 1,
  tight: 1.25,
  normal: 1.5,
  loose: 2,
);

$tracking: (
  tight: -0.05em,
  normal: 0,
  wide: 0.05em,
);

$font-weights: (
  thin: 100, 
  extra-light: 200, 
  light: 300,
  normal: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
  extra-bold: 800,
  black: 900,
);

// ENABLE/DISABLE VARIANTS
$modules: (
  align-content: true,
  align-items: true,
  background-color: (responsive, hover, group-hover),
  border-color: (focus),
  border-radius: true,
  border-style: false,
  border-width: (ems),
  colors: (hover),
  flex-direction: true,
  font-leading: true,
  font-sizes: (responsive),
  font-weights: true,
  margins: (responsive),
  negative-margins: false,
  opacity: true,
  padding: (ems, hover),
  text-align: true,
);