// TODO:
// - Refactor _responsive.scss
// - Generate color generators for: border, text and background
// - Remove variant parameters from generators. Generate them based on enabled/disabled modules
// - Singularise mixin generators and files

/*!
--------------------------------------------------------------------------------
 NGREDIENTS CSS - UTILITY CLASS GENERATOR BUILD IN SASS
--------------------------------------------------------------------------------
 Author: Víctor Rico
 Author URL: N/A
 Author email: vricop@gmail.com
 License: N/A
 Description: N/A
 Version: N/A
*/

// config, responsive & generators must always be at the top
@import "config", "responsive", "utilities";
@include align-content;
@include align-items;
@include appearance;
@include background-color;
@include border-color;
@include border-radius;
@include border-style;
@include border-width;
@include box-shadow;
@include cursor;
@include display;
@include flex-direction;
@include float;
@include font-family;
@include font-size;
@include font-weights;
@include height;
@include inset;
@include leading;
@include margin;
@include max-width;
@include min-width;
@include opacities;
@include outline;
@include overflow;
@include padding;
@include position;
@include resize;
@include text-align;
@include text-color;
@include tracking;
@include typography-features;
@include vertical-alignment;
@include visibility;
@include width;
@include z-index;
// Responsive must always be at the end
@include responsive;