// TODO:
// - Refactor _responsive.scss
// - Generate color generators for: border, text and background
// - Remove variant parameters from generators. Generate them based on enabled/disabled modules
// - Singularise mixin generators and files

/*!
--------------------------------------------------------------------------------
 NGREDIENTS CSS - UTILITY CLASS GENERATOR BUILD IN SASS
--------------------------------------------------------------------------------
 Author: Víctor Rico
 Author URL: N/A
 Author email: vricop@gmail.com
 License: N/A
 Description: N/A
 Version: N/A
*/

// config, responsive & generators must always be at the top
@import "config", "responsive", "generators";
@include align-content;
@include align-items;
@include border-color;
@include border-radius;
@include border-width;
@include border-width($ems: true);
@include border-width($hover: true, $ems: true);
@include border-width($hover: true);
@include displays;
@include displays($hover: true);
@include flex-directions;
@include font-family;
@include font-sizes;
@include font-weights;
@include leading;
@include margins;
@include opacities;
@include paddings;
@include positions;
@include text-align;
@include text-colors();
@include text-colors($hover: true);
@include tracking;
@include typography-features;
@include vertical-alignment;
@include z-index;
// Responsive must always be at the end
@include responsive;