@import '../utils/mixins/border-radius-sides';

@mixin border-radius-em($screen: null) {
  $variants: map-get($modules, 'border-radius-em');

  @if $variants == true or type-of($variants) == list {
    @each $suffix, $value in $border-radius-em {
      // DEFAULT
      @if $screen == null {
        @include border-radius-sides(
          $prefix: '.\\*',
          $value: $value,
          $suffix: $suffix
        );

        @if index($variants, 'hover') {
          @include border-radius-sides(
            $prefix: '.hover\\:\\*',
            $value: $value,
            $suffix: '#{$suffix}:hover'
          );
        }

        @if index($variants, 'focus') {
          @include border-radius-sides(
            $prefix: '.focus\\:\\*',
            $value: $value,
            $suffix: '#{$suffix}:focus'
          );
        }
      }

      // RESPONSIVE
      @if index($variants, 'responsive') and $screen != null {
        @include border-radius-sides(
          $prefix: '.#{$screen}\\:\\*',
          $value: $value,
          $suffix: $suffix
        );

        @if index($variants, 'hover') {
          @include border-radius-sides(
            $prefix: '.#{$screen}\\:hover\\:\\*',
            $value: $value,
            $suffix: '#{$suffix}:hover'
          );
        }

        @if index($variants, 'focus') {
          @include border-radius-sides(
            $prefix: '.#{$screen}\\:focus\\:\\*',
            $value: $value,
            $suffix: '#{$suffix}:focus'
          );
        }
      }
    }
  }
}