@mixin clearfix {
  $variants: map-get($modules, 'float');
  @if $variants == true or typeof($variants) == 'list' {
    .clearfix::after {
      content: "";
      display: table;
      clear: both;
    }
  }
}
