// Thig generator will only be used in '_responsive.scss'
@mixin container($breakpoints) {
  // # ADAPTIVE CONTAINERS
  // Generate adaptive containers: set the `max-width` of an element
  // to match the `min-width` of the current breakpoint.
  @if map-has-key($breakpoints, 'min') and not
      map-has-key($breakpoints, 'max') {
    $width: map-get($breakpoints, 'min');

    .container {
      margin-left: auto;
      margin-right: auto;
      width: $width;
    }
  }
}