@mixin container($breakpoint: null) {
  $variants: map-get($modules, 'container');
  
  @if $variants == true {
    // DEFAULT
    @if $breakpoint == null {
      .container { width: 100%; }
    }
    
    @if type-of($breakpoint) == map {
      // RESPONSIVE
      $min: map-has-key($breakpoint, 'min');
      $max: map-has-key($breakpoint, 'max');
  
      @if $min and not $max {
        .container { max-width: map-get($breakpoint, 'min'); }
      }
    }
  }
}