@mixin font-size($breakpoint: null) {
  $variants: map-get($modules, 'font-size');

  @if $variants == true or type-of($variants) == list {
    @each $suffix, $value in $font-size {
      // DEFAULT
      @if $breakpoint == null {
        .text-#{$suffix} { font-size: $value; }

        @if index($variants, 'hover') {
          .hover\:text-#{$suffix}:hover { font-size: $value; }
        }

        @if index($variants, 'group-hover') {
          .group:hover .group-hover\:text-#{$suffix} { font-size: $value; }
        }

        @if index($variants, 'focus') {
          .focus\:text-#{$suffix}:focus { font-size: $value; }
        }
      }

      // RESPONSIVE
      @if index($variants, 'responsive') and $breakpoint != null {
        .#{$breakpoint}\:text-#{$suffix} { font-size: $value; }

        @if index($variants, 'hover') {
          .#{$breakpoint}\:hover\:text-#{$suffix}:hover { font-size: $value; }
        }

        @if index($variants, 'group-hover') {
          .#{$breakpoint}\:group:hover .group-hover\:text-#{$suffix} { font-size: $value; }
        }

        @if index($variants, 'focus') {
          .#{$breakpoint}\:focus\:text-#{$suffix}:focus { font-size: $value; }
        }
      }
    }
  }
}