@mixin font-weight($screen: null) {
  $variants: map-get($modules, 'font-weight');

  @if $variants == true or type-of($variants) == list {
    @each $suffix, $value in $font-weight {
      // DEFAULT
      @if $screen == null {
        .font-#{$suffix} { font-weight: $value; }

        @if index($variants, 'hover') {
          .hover\:font-#{$suffix}:hover { font-weight: $value; }
        }

        @if index($variants, 'group-hover') {
          .group:hover .group-hover\:font-#{$suffix} { font-weight: $value; }
        }

        @if index($variants, 'focus') {
          .focus\:font-#{$suffix}:focus { font-weight: $value; }
        }
      }

      // RESPONSIVE
      @if index($variants, 'responsive') and $screen != null {
        .#{$screen}\:font-#{$suffix} { font-weight: $value; }

        @if index($variants, 'hover') {
          .#{$screen}\:hover\:font-#{$suffix}:hover { font-weight: $value; }
        }

        @if index($variants, 'group-hover') {
          .#{$screen}\:group:hover .group-hover\:font-#{$suffix} { font-weight: $value; }
        }

        @if index($variants, 'focus') {
          .#{$screen}\:focus\:font-#{$suffix}:focus { font-weight: $value; }
        }
      }
    }
  }
}