@mixin _font-smoothing($prefix: '.', $suffix: null) {
  #{$prefix}antialiased#{$suffix} {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
  }
}

@mixin font-smoothing($screen: null) {
  $variants: map-get($modules, 'font-smoothing');

  @if $variants == true or type-of($variants) == list {
    // DEFAULT
    @if $screen == null {
      @include _font-smoothing;
    }

    // RESPONSIVE
    @if index($variants, 'responsive') and $screen != null {
      @include _font-smoothing('.#{$screen}\\:');
    }
  }
}