@mixin height($breakpoint: null) {
  $variants: map-get($modules, 'height');

  @if $variants == true or type-of($variants) == list {
    @each $suffix, $value in $height {
      // DEFAULT
      @if $breakpoint == null {
        .h-#{$suffix} { height: $value; }

        @if index($variants, 'hover') {
          .hover\:h-#{$suffix}:hover { height: $value; }
        }

        @if index($variants, 'group-hover') {
          .group:hover .group-hover\:h-#{$suffix} { height: $value; }
        }

        @if index($variants, 'focus') {
          .focus\:h-#{$suffix}:focus { height: $value; }
        }
      }

      // RESPONSIVE
      @if index($variants, 'responsive') and $breakpoint != null {
        .#{$breakpoint}\:h-#{$suffix} { height: $value; }

        @if index($variants, 'hover') {
          .#{$breakpoint}\:hover\:h-#{$suffix}:hover { height: $value; }
        }

        @if index($variants, 'group-hover') {
          .#{$breakpoint}\:group:hover .group-hover\:h-#{$suffix} { height: $value; }
        }

        @if index($variants, 'focus') {
          .#{$breakpoint}\:focus\:h-#{$suffix}:focus { height: $value; }
        }
      }
    }
  }
}