@mixin _inset($suffix, $val, $prefix: '.') { 
  // Insets
  #{$prefix}inset-#{$suffix} { top: $val; right: $val; bottom: $val; left: $val; }
  #{$prefix}inset-x-#{$suffix} { left: $val; right: $val; }
  #{$prefix}inset-y-#{$suffix} { top: $val; bottom: $val; }

  // Sides
  @each $side in (top, right, bottom, left) {
    #{$prefix}#{$side}-#{$suffix} { #{$side}: $val; }
  }
}

@mixin inset($breakpoint: null) {
  $variants: map-get($modules, 'position');

  @if $variants != false {
    @each $suffix, $val in $inset {
      @if not($breakpoint) {
        @include _inset(
          $suffix: $suffix,
          $val: $val
        );
      }
    
      @if index($variants, 'responsive') and $breakpoint != null {
        @include _inset(
          $prefix: '.#{$breakpoint}\\:',
          $suffix: $suffix,
          $val: $val
        );
      }
    }
  }
}