@mixin justify-content($screen: null) {
  $variants: map-get($modules, 'justify-content');

  @if $variants == true or type-of($variants) == list {
    $positions: (
      start: flex-start, 
      end: flex-end, 
      center: center, 
      between: space-between, 
      around: space-around
    );

    @each $suffix, $value in $positions {
      // DEFAULT
      @if $screen == null {
        .justify-#{$suffix} { justify-content: $value; }

        @if index($variants, 'hover') {
          .hover\:justify-#{$suffix}:hover { justify-content: $value; }
        }

        @if index($variants, 'focus') {
          .focus\:justify-#{$suffix}:focus { justify-content: $value; }
        }
      }

      // RESPONSIVE
      @if index($variants, 'responsive') and $screen != null {
        .#{$screen}\:justify-#{$suffix} { justify-content: $value; }

        @if index($variants, 'hover') {
          .#{$screen}\:hover\:justify-#{$suffix}:hover { justify-content: $value; }
        }

        @if index($variants, 'focus') {
          .#{$screen}\:focus\:justify-#{$suffix}:focus { justify-content: $value; }
        }
      }
    }
  }
}