@import '../utils/mixins/build-variants';

@mixin margin-classes($prefix, $modifier, $state, $value) {
  .#{$prefix}m#{$modifier}#{$state} { margin: $value; };
  .#{$prefix}mx#{$modifier}#{$state} { margin: { left: $value; right: $value; } };
  .#{$prefix}my#{$modifier}#{$state} { margin: { top: $value; bottom: $value; } };
  .#{$prefix}mt#{$modifier}#{$state} { margin-top: $value };
  .#{$prefix}mr#{$modifier}#{$state} { margin-right: $value };
  .#{$prefix}mb#{$modifier}#{$state} { margin-bottom: $value };
  .#{$prefix}ml#{$modifier}#{$state} { margin-left: $value };
}

@mixin margin($screen: null) {
  @include build-variants($margin, 'margin', $screen) using ($prefix, $modifier, $state, $value) {
    $value: if($value == auto, $value, $value * 1rem);
    @include margin-classes($prefix, $modifier, $state, $value);
  }
  
  @include build-variants($margin-negative, 'margin-negative', $screen) using ($prefix, $modifier, $state, $value) {
    @include margin-classes('#{$prefix}-', $modifier, $state, -$value * 1rem);
  }
}