$_margins: map-get($modules, 'margins');
$_negative-margins: map-get($modules, 'negative-margins');

@mixin _margin($suffix, $value, $prefix: '.') {
  #{$prefix}m-#{$suffix} { margin: $value; };
  #{$prefix}mx-#{$suffix} { margin: { left: $value; right: $value; } };
  #{$prefix}my-#{$suffix} { margin: { top: $value; bottom: $value; } };
  #{$prefix}mt-#{$suffix} { margin-top: $value };
  #{$prefix}mr-#{$suffix} { margin-right: $value };
  #{$prefix}mb-#{$suffix} { margin-bottom: $value };
  #{$prefix}ml-#{$suffix} { margin-left: $value };
}

@mixin margins($breakpoint: null) {
  @if $_margins != false {
    @each $suffix, $value in $margins {
      // # DEFAULT VARIANTS
      @if $breakpoint == null {
        @include _margin($suffix, $value);
      }

      @if index($_margins, 'responsive') and $breakpoint != null {
        @include _margin($suffix, $value, '.#{$breakpoint}\\:');
      }
      
      @if index($_margins, 'hover') and $breakpoint == null {
        @include _margin('#{$suffix}:hover', $value, '.hover\\:');
      }
      
      @if index($_margins, 'group-hover') and $breakpoint == null {
        @include _margin('#{$suffix}:hover', $value, '.group:hover .group-hover\\:');
      }
    }

    // # NEGATIVE VARIANTS
    @if $_negative-margins != false {
      @each $suffix, $value in $negative-margins {
        @if $breakpoint == null {
          @include _margin($suffix, $value, '.-');
        }

        @if index($_negative-margins, 'responsive') and ($breakpoint != null) {
          @include _margin($suffix, $value, '.#{$breakpoint}\\:-');
        }
      }
    }
  }
}