@mixin text-color($screen: null) {
  $variants: map-get($modules, 'text-color');

  @if $variants == true or type-of($variants) == list {
    @each $suffix, $value in $colors {
      // DEFAULT
      @if $screen == null {
        .text-#{$suffix} { color: $value; }

        @if index($variants, 'hover') {
          .hover\:text-#{$suffix}:hover { color: $value; }
        }

        @if index($variants, 'group-hover') {
          .group:hover .group-hover\:text-#{$suffix} { color: $value; }
        }

        @if index($variants, 'focus') {
          .focus\:text-#{$suffix}:focus { color: $value; }
        }

        @if index($variants, 'active') {
          .active\:text-#{$suffix}:active { color: $value; }
        }
      }

      // RESPONSIVE
      @if index($variants, 'responsive') and $screen != null {
        .#{$screen}\:text-#{$suffix} { color: $value; }

        @if index($variants, 'hover') {
          .#{$screen}\:hover\:text-#{$suffix}:hover { color: $value; }
        }

        @if index($variants, 'group-hover') {
          .#{$screen}\:group:hover .group-hover\:text-#{$suffix} { color: $value; }
        }

        @if index($variants, 'focus') {
          .#{$screen}\:focus\:text-#{$suffix}:focus { color: $value; }
        }

        @if index($variants, 'active') {
          .#{$screen}\:active\:text-#{$suffix}:active { color: $value; }
        }
      }
    }
  }
}