@mixin z-index($breakpoint: null) {
  $variants: map-get($modules, 'z-index');
  $utility: 'z-';

  @if $variants == true or type-of($variants) == list {
    @each $suffix, $value in $z-index {
      // NEGATIVE VARIANT UTILITY SUFFIX
      @if ($value != 'auto') and ($value < 0) {
        $utility: '-z';
      }

      // DEFAULT
      @if $breakpoint == null {
        .#{$utility}#{$suffix} { z-index: $value; }
  
        @if index($variants, 'hover') {
          .hover\:#{$utility}#{$suffix}:hover { z-index: $value; }
        }
  
        @if index($variants, 'group-hover') {
          .group:hover .group-hover\:#{$utility}#{$suffix} { z-index: $value; }
        }
      }

      // RESPONSIVE
      @if index($variants, 'responsive') and $breakpoint != null {
        @if index($variants, 'hover') {
          .#{$breakpoint}\:#{$utility}#{$suffix} { z-index: $value; }
        }
  
        @if index($variants, 'hover') {
          .#{$breakpoint}\:hover\:#{$utility}#{$suffix}:hover { z-index: $value; }
        }
        
        @if index($variants, 'hover') {
          .#{$breakpoint}\:group:hover .group-hover\:#{$utility}#{$suffix} { z-index: $value; }
        }
      }
    }
  }
}