@mixin z-index($breakpoint: null) {
  $variants: map-get($modules, 'z-index');

  @if $variants == true or type-of($variants) == list {
    @each $value in $z-index {
      // NEGATIVE VARIANT UTILITY SUFFIX
      $utility: if(($value != 'auto') and ($value < 0), '-z', 'z-');

      // DEFAULT
      @if $breakpoint == null {
        .#{$utility}#{$value} { z-index: $value; }
  
        @if index($variants, 'hover') {
          .hover\:#{$utility}#{$value}:hover { z-index: $value; }
        }
  
        @if index($variants, 'group-hover') {
          .group:hover .group-hover\:#{$utility}#{$value} { z-index: $value; }
        }

        @if index($variants, 'focus') {
          .focus\:#{$utility}#{$value}:focus { z-index: $value; }
        }
      }

      // RESPONSIVE
      @if index($variants, 'responsive') and $breakpoint != null {
        .#{$breakpoint}\:#{$utility}#{$value} { z-index: $value; }
  
        @if index($variants, 'hover') {
          .#{$breakpoint}\:hover\:#{$utility}#{$value}:hover { z-index: $value; }
        }
        
        @if index($variants, 'group-hover') {
          .#{$breakpoint}\:group:hover .group-hover\:#{$utility}#{$value} { z-index: $value; }
        }

        @if index($variants, 'focus') {
          .#{$breakpoint}\:focus\:#{$utility}#{$value}:focus { z-index: $value; }
        }
      }
    }
  }
}