@use '../config' as *;
@use '../utils/build-non-configurable-variants' as *;
@use 'sass:map';

@mixin accessibility($screen: null) {
  $args: (map.get($variants, 'accessibility'), $screen);

  @include build-non-configurable-variants($args...) using ($prefix, $state) {
    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    };

    .not-sr-only {
      position: static;
      width: auto;
      height: auto;
      padding: 0;
      margin: 0;
      overflow: visible;
      clip: auto;
      white-space: normal;
    };
  }
}