@use '../config' as *;
@use '../utils/build-non-configurable-variants' as *;
@use 'sass:map';

@mixin align-content($screen: null) {
  $args: map.get($variants, 'align-content'), $screen;
  
  @include build-non-configurable-variants($args...) using ($prefix, $state) {
    .#{$prefix}content-start#{$state} { align-content: flex-start; }
    .#{$prefix}content-center#{$state} { align-content: center; }
    .#{$prefix}content-end#{$state} { align-content: flex-end; }
    .#{$prefix}content-between#{$state} { align-content: space-between; }
    .#{$prefix}content-around#{$state} { align-content: space-around; }
  }
}