@use '../config' as *;
@use '../utils/build-non-configurable-variants' as *;
@use 'sass:map';

@mixin background-size($screen: null) {
  $args: map.get($variants, 'background-size'), $screen;

  @include build-non-configurable-variants($args...) using ($prefix, $state) {
    .#{$prefix}bg-atuo#{$state} { background-size: auto; }
    .#{$prefix}bg-cover#{$state} { background-size: cover; }
    .#{$prefix}bg-contain#{$state} { background-size: contain; }
  }
}