@use '../config';
@use '../utils/generate-variants';
@use 'sass:map';

@mixin border-radius-classes($prefix, $modifier, $state, $value) {
  .#{$prefix}rounded#{$modifier}#{$state} { border-radius: $value; }
  .#{$prefix}rounded-t#{$modifier}#{$state} { border-top-left-radius: $value; border-top-right-radius: $value; }
  .#{$prefix}rounded-r#{$modifier}#{$state} { border-top-right-radius: $value; border-bottom-right-radius: $value; }
  .#{$prefix}rounded-b#{$modifier}#{$state} { border-bottom-right-radius: $value; border-bottom-left-radius: $value; }
  .#{$prefix}rounded-l#{$modifier}#{$state} { border-bottom-left-radius: $value; border-top-left-radius: $value; }
  .#{$prefix}rounded-tl#{$modifier}#{$state} { border-top-left-radius: $value; }
  .#{$prefix}rounded-tr#{$modifier}#{$state} { border-top-right-radius: $value; }
  .#{$prefix}rounded-tl#{$modifier}#{$state} { border-top-left-radius: $value; }
  .#{$prefix}rounded-br#{$modifier}#{$state} { border-bottom-right-radius: $value; }
  .#{$prefix}rounded-bl#{$modifier}#{$state} { border-bottom-left-radius: $value; }
}

@mixin border-radius($screen: null) {
  $args: config.$border-radius, map.get(config.$variants, 'border-radius'), $screen;

  @include generate-variants.configurable($args...) using ($prefix, $modifier, $state, $value) {
    @include border-radius-classes($prefix, $modifier, $state, $value);
  }
  
  $args-em: config.$border-radius-em, map.get(config.$variants, 'border-radius-em'), $screen;

  @include generate-variants.configurable($args-em...) using ($prefix, $modifier, $state, $value) {
    @include border-radius-classes($prefix, '#{$modifier}\\[em\\]', $state, $value);
  }
}