@use '../config' as *;
@use '../utils/build-non-configurable-variants' as *;
@use 'sass:map';

@mixin border-style($screen: null) {
  $args: (map.get($variants, 'border-style'), $screen);

  @include build-non-configurable-variants($args...) using ($prefix, $state) {
    .#{$prefix}border-solid#{$state}  { border-style: solid;  }
    .#{$prefix}border-dashed#{$state} { border-style: dashed; }
    .#{$prefix}border-dotted#{$state} { border-style: dotted; }
    .#{$prefix}border-none#{$state}   { border-style: none;   }
  }
}