@use '../config' as *;
@use 'sass:map';
@use 'sass:meta';

@mixin clearfix {
  $variants: map.get($variants, 'float');

  @if $variants == true or meta.type-of($variants) == 'list' {
    .clearfix::after {
      content: '';
      display: table;
      clear: both;
    }
  }
}
