@use '../config';
@use 'sass:map';
@use 'sass:meta';

@mixin clearfix {
  $variants: map.get(config.$variants, 'float');

  @if $variants == true or meta.typeof($variants) == 'list' {
    .clearfix::after {
      content: '';
      display: table;
      clear: both;
    }
  }
}
