@use '../config';
@use '../utils/generate-variants';
@use 'sass:map';

@mixin column-gap($screen: null) {
  $args: config.$column-gap, map.get(config.$variants, 'column-gap'), $screen;

  @include generate-variants.configurable($args...) using ($prefix, $modifier, $state, $value) {
    .#{$prefix}column-gap#{$modifier}#{$state} { column-gap: $value; }
  }

  $args_em: config.$column-gap-em, map.get(config.$variants, 'column-gap'), $screen;

  @include generate-variants.configurable($args_em...) using ($prefix, $modifier, $state, $value) {
    .#{$prefix}column-gap#{$modifier}\[em\]#{$state} { column-gap: $value; }
  }

  $args_ch: config.$column-gap-ch, map.get(config.$variants, 'column-gap'), $screen;

  @include generate-variants.configurable($args_ch...) using ($prefix, $modifier, $state, $value) {
    .#{$prefix}column-gap#{$modifier}\[ch\]#{$state} { column-gap: $value; }
  }
}