@use '../config' as *;
@use 'sass:map';
@use 'sass:meta';

@mixin container($breakpoint: null) {
  $variants: map.get($variants, 'container');
  
  @if $variants == true {
    // DEFAULT
    @if $breakpoint == null {
      .container { width: 100%; }
    }
    
    // RESPONSIVE
    @if meta.type-of($breakpoint) == map {
      $min: map.has-key($breakpoint, 'min');
      $max: map.has-key($breakpoint, 'max');
  
      @if $min and not $max {
        .container { max-width: map.get($breakpoint, 'min'); }
      }
    }
  }
}