@use '../config';
@use 'sass:map';
@use 'sass:meta';

@mixin container($screen: null) {
  $variants: map.get(config.$variants, 'container');
  
  @if $variants == true {
    // DEFAULT
    @if $screen == null {
      .container { width: 100%; }
    }
    
    // RESPONSIVE
    @if meta.type-of($screen) == map {
      $min: map.has-key($screen, 'min');
      $max: map.has-key($screen, 'max');
  
      @if $min and not $max {
        .container { max-width: map.get($screen, 'min'); }
      }
    }
  }
}