@use '../config' as *;
@use '../utils/build-non-configurable-variants' as *;
@use 'sass:map';

@mixin flex-direction($screen: null) {
  $args: map.get($variants, 'flex-direction'), $screen;

  @include build-non-configurable-variants($args...) using ($prefix, $state) {
    .#{$prefix}flex-row#{$state} { flex-direction: row; }
    .#{$prefix}flex-row-reverse#{$state} { flex-direction: row-reverse; }
    .#{$prefix}flex-col#{$state} { flex-direction: column; }
    .#{$prefix}flex-col-reverse#{$state} { flex-direction: column-reverse; }
  }
}