@use '../config' as *;
@use '../utils/build-non-configurable-variants' as *;
@use 'sass:map';

@mixin float($screen: null) {
  $args: (map.get($variants, 'float'), $screen);

  @include build-non-configurable-variants($args...) using ($prefix, $state) {
    .#{$prefix}float-left#{$state}  { float: left;  }
    .#{$prefix}float-right#{$state} { float: right; }
    .#{$prefix}float-none#{$state}  { float: none;  }
  }
}