@use '../config' as *;
@use '../utils/build-non-configurable-variants' as *;
@use 'sass:map';

@mixin font-smoothing($screen: null) {
  $args: map.get($variants, 'font-smoothing'), $screen;

  @include build-non-configurable-variants($args...) using ($prefix, $state) {
    .#{$prefix}antialiased#{$state} {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}