@use '../config' as *;
@use '../utils/build-configurable-variants' as *;
@use 'sass:map';

@mixin inset($screen: null) {
  $args: $inset, map.get($variants, 'inset'), $screen;

  @include build-configurable-variants($args...) using ($prefix, $modifier, $state, $value) {
    // Insets
    .#{$prefix}inset#{$modifier}#{$state} { 
      top: $value; 
      right: $value; 
      bottom: $value; 
      left: $value;
    }

    .#{$prefix}inset-x#{$modifier}#{$state} { 
      left: $value; 
      right: $value;
    }

    .#{$prefix}inset-y#{$modifier}#{$state} { 
      top: $value; 
      bottom: $value;
    }
    
    // Sides
    .#{$prefix}top#{$modifier}#{$state} { top: $value; }
    .#{$prefix}right#{$modifier}#{$state} { right: $value; }
    .#{$prefix}bottom#{$modifier}#{$state} { bottom: $value; }
    .#{$prefix}left#{$modifier}#{$state} { left: $value; }
  }
}