@use '../config' as *;
@use '../utils/build-non-configurable-variants' as *;
@use 'sass:map';

@mixin justify-content($screen: null) {
  $args: (map.get($variants, 'justify-content'), $screen);

  @include build-non-configurable-variants($args...) using ($prefix, $state) {
    .#{$prefix}justify-start#{$state}   { justify-content: flex-start;    }
    .#{$prefix}justify-end#{$state}     { justify-content: flex-end;      }
    .#{$prefix}justify-center#{$state}  { justify-content: center;        }
    .#{$prefix}justify-between#{$state} { justify-content: space-between; }
    .#{$prefix}justify-around#{$state}  { justify-content: space-around;  }
  }
}