@use '../config' as *;
@use 'sass:map';

// Stack margin utility
// 
// Context-aware margins with the "lobotomized owl".
// Note: this variant will only apply for `top` and `left` margins.
// 
// https://alistapart.com/article/axiomatic-css-and-lobotomized-owls/
// https://every-layout.dev/layouts/stack/#the-problem
@mixin margin-stack($screen: null) {
  $utility-variants: map.get($variants, 'margin-stack');
  @if $utility-variants == true or $utility-variants == 'responsive' {
    @each $modifier, $value in $margin-stack {
      @if $screen == null {
        .stack\:ml-#{$modifier} > * + * {
          margin-left: $value;
        }
        
        .stack\:mt-#{$modifier} > * + * {
          margin-top: $value;
        }
      }

      @if $utility-variants != true and $screen != null {
        .#{$screen}\:stack\:ml-#{$modifier} > * + * {
          margin-left: $value;
        }
        
        .#{$screen}\:stack\:mt-#{$modifier} > * + * {
          margin-top: $value;
        }
      }
    }
  }
}