@use '../config' as *;
@use '../utils/build-configurable-variants' as *;
@use 'sass:map';

@mixin margin($screen: null) {
  $args: ($margin, map.get($variants, 'margin'), $screen);

  // Default margins variants
  @include build-configurable-variants($args...) using ($prefix, $modifier, $state, $value) {
    .#{$prefix}m#{$modifier}#{$state}  { margin: $value;                          };
    
    .#{$prefix}mx#{$modifier}#{$state} { 
      margin-left:  $value;
      margin-right: $value;
    };

    .#{$prefix}my#{$modifier}#{$state} { 
      margin-top:    $value;
      margin-bottom: $value;
    };

    .#{$prefix}mt#{$modifier}#{$state} { margin-top:    $value };
    .#{$prefix}mr#{$modifier}#{$state} { margin-right:  $value };
    .#{$prefix}mb#{$modifier}#{$state} { margin-bottom: $value };
    .#{$prefix}ml#{$modifier}#{$state} { margin-left:   $value };
  }
}