@use '../config' as *;
@use '../utils/build-configurable-variants' as *;
@use 'sass:map';

@mixin padding($screen: null) {
  $args: ($padding, map.get($variants, 'padding'), $screen);
  
  @include build-configurable-variants($args...) using ($prefix, $modifier, $state, $value) {
    .#{$prefix}p#{$modifier}#{$state} { padding: $value; }

    .#{$prefix}px#{$modifier}#{$state} { 
      padding-left: $value;
      padding-right: $value;
    }

    .#{$prefix}py#{$modifier}#{$state} { 
      padding-top:   $value;
      padding-bottom: $value;
    }

    .#{$prefix}pt#{$modifier}#{$state} { padding-top:    $value; }
    .#{$prefix}pr#{$modifier}#{$state} { padding-right:  $value; }
    .#{$prefix}pb#{$modifier}#{$state} { padding-bottom: $value; }
    .#{$prefix}pl#{$modifier}#{$state} { padding-left:   $value; }
  };
}