@use '../config' as *;
@use '../utils/build-configurable-variants' as *;
@use 'sass:map';

// Generate `ex` utility variants
// 
// `ex` utility variants are only applied for `padding-inline`: `p{y|t|b}-{size}`
@mixin padding-ex($screen: null) {
  $args_ch: ($padding-ex, map.get($variants, 'padding-ex'), $screen);
  
  @include build-configurable-variants($args_ch...) using ($prefix, $modifier, $state, $value) {
    .#{$prefix}py#{$modifier}\(ex\)#{$state} { 
      padding-top:    $value;
      padding-bottom: $value;
    }

    .#{$prefix}pt#{$modifier}\(ex\)#{$state} { padding-top:    $value; }
    .#{$prefix}pb#{$modifier}\(ex\)#{$state} { padding-bottom: $value; }
  };
}