@use '../config' as *;
@use '../utils/build-configurable-variants' as *;
@use 'sass:map';

// Generate `em` utility variants
// 
// `em` utility variants have the same modular scale than the default padding
// utilities.
@mixin padding-em($screen: null) {
  $args_ch: ($padding-em, map.get($variants, 'padding-em'), $screen);
  
  @include build-configurable-variants($args_ch...) using ($prefix, $modifier, $state, $value) {
    .#{$prefix}p#{$modifier}\(em\)#{$state} { padding: $value; }

    .#{$prefix}px#{$modifier}\(em\)#{$state} { 
      padding-left:  $value;
      padding-right: $value;
    }

    .#{$prefix}py#{$modifier}\(em\)#{$state} { 
      padding-top:    $value;
      padding-bottom: $value;
    }

    .#{$prefix}pt#{$modifier}\(em\)#{$state} { padding-top:    $value; }
    .#{$prefix}pr#{$modifier}\(em\)#{$state} { padding-right:  $value; }
    .#{$prefix}pb#{$modifier}\(em\)#{$state} { padding-bottom: $value; }
    .#{$prefix}pl#{$modifier}\(em\)#{$state} { padding-left:   $value; }
  };
}