@use '../config';
@use '../utils/generate-variants';
@use 'sass:map';

@mixin resize($screen: null) {
  $args: map.get(config.$variants, 'resize'), $screen;

  @include generate-variants.non-configurable($args...) using ($prefix, $state) {
    .#{$prefix}resize-none#{$state} { resize: none; }
    .#{$prefix}resize#{$state} { resize: both; }
    .#{$prefix}resize-y#{$state} { resize: vertical; }
    .#{$prefix}resize-x#{$state} { resize: horizontal; }
  }
}