@use '../config' as *;
@use '../utils/build-configurable-variants' as *;
@use 'sass:map';

@mixin row-gap($screen: null) {
  $args: ($row-gap, map.get($variants, 'row-gap'), $screen);

  @include build-configurable-variants($args...) using ($prefix, $modifier, $state, $value) {
    .#{$prefix}row-gap#{$modifier}#{$state} {
      grid-row-gap: $value;
      row-gap: $value;
    }
  }
}