@use '../config' as *;
@use '../utils/build-configurable-variants' as *;
@use 'sass:map';

@mixin scale($screen: null) {
  $args: $scale, map.get($variants, 'scale'), $screen;
  
  @include build-configurable-variants($args...) using ($prefix, $modifier, $state, $value) {
    .#{$prefix}scale#{$modifier}#{$state} {
      --transform-scale-x: #{$value};
      --transform-scale-y: #{$value};
    }
  }
}

