@use '../config' as *;
@use '../utils/build-configurable-variants' as *;
@use 'sass:map';
@use 'sass:string';

@mixin skew($screen: null) {
  $args: $skew, map.get($variants, 'skew'), $screen;
  
  @include build-configurable-variants($args...) using ($prefix, $modifier, $state, $value) {
    // The base class will contain a dash for negative sets only.
    $base-class: if($value < 0, '-skew', 'skew');

    .#{$prefix}#{$base-class}#{$modifier}#{$state} {
      --transform-skew-x: #{$value};
      --transform-skew-y: #{$value};
    }
  }
}

