@use '../config' as *;
@use '../utils/build-non-configurable-variants' as *;
@use 'sass:map';

@mixin text-align($screen: null) {
  $args: (map.get($variants, 'text-align'), $screen);

  @include build-non-configurable-variants($args...) using ($prefix, $state) {
    .#{$prefix}text-left#{$state}   { text-align: left;   }
    .#{$prefix}text-center#{$state} { text-align: center; }
    .#{$prefix}text-right#{$state}  { text-align: right;  }
  }
}