@use '../config';
@use '../utils/generate-variants';
@use 'sass:map';

@mixin text-transform($screen: null) {
  $args: map.get(config.$variants, 'text-transform'), $screen;

  @include generate-variants.non-configurable($args...) using ($prefix, $state) {
    @each $text-case in (uppercase, lowercase, capitalize, none) {
      $value: $text-case;
      $text-case: if($text-case == none, normal-case, $text-case);

      .#{$prefix}#{$text-case}#{$state} { text-transform: $value; }
    }
  }
}