@use '../config' as *;
@use '../utils/build-non-configurable-variants' as *;
@use 'sass:map';

@mixin text-decoration($screen: null) {
  $args: map.get($variants, 'text-decoration'), $screen;

  @include build-non-configurable-variants($args...) using ($prefix, $state) {
    .#{$prefix}underline#{$state} { text-decoration: underline; }
    .#{$prefix}line-through#{$state} { text-decoration: line-through; }
    .#{$prefix}no-underline#{$state} { text-decoration: none; }
  }
}