@use '../config';
@use '../utils/generate-variants';
@use 'sass:map';

@mixin text-transform($screen: null) {
  $args: map.get(config.$variants, 'text-transform'), $screen;

  @include generate-variants.non-configurable($args...) using ($prefix, $state) {
    .#{$prefix}uppercase#{$state} { text-transform: uppercase; }
    .#{$prefix}normal-case#{$state} { text-transform: lowercase; }
    .#{$prefix}capitalize#{$state} { text-transform: capitalize; }
    .#{$prefix}none#{$state} { text-transform: none; }
  }
}