@use '../config';
@use '../utils/generate-variants';
@use 'sass:map';

@mixin text-decoration($screen: null) {
  $args: map.get(config.$variants, 'text-decoration'), $screen;

  @include generate-variants.non-configurable($args...) using ($prefix, $state) {
    .#{$prefix}underline#{$state} { text-decoration: underline; }
    .#{$prefix}line-through#{$state} { text-decoration: line-through; }
    .#{$prefix}no-underline#{$state} { text-decoration: none; }
  }
}