@use '../config' as *;
@use '../utils/build-non-configurable-variants' as *;
@use 'sass:map';

@mixin transform($screen: null) {
  $args: (map.get($variants, 'transform'), $screen);

  // Composable transform utility variant
  // This technique uses custom properties with default values that work in
  // addition to the other `transition-*` utilities.
  // 
  // https://github.com/tailwindcss/tailwindcss/pull/1272
  @include build-non-configurable-variants($args...) using ($prefix, $state) {
    .#{$prefix}transform#{$state} {
      --transform-translate-x: 0;
      --transform-translate-y: 0;
      --transform-rotate: 0;
      --transform-skew-x: 0;
      --transform-skew-y: 0;
      --transform-scale-x: 1;
      --transform-scale-y: 1;

      transform: translateX(var(--transform-translate-x))
                 translateY(var(--transform-translate-y))
                 rotate(var(--transform-rotate))
                 skewX(var(--transform-skew-x))
                 skewY(var(--transform-skew-y))
                 scaleX(var(--transform-scale-x))
                 scaleY(var(--transform-scale-y));
    }

    .#{$prefix}transition-none#{$state} { transform: none; }
  }
}

