@use '../config' as *;
@use '../utils/build-configurable-variants' as *;
@use 'sass:map';

@mixin translate($screen: null) {
  $args: ($translate, map.get($variants, 'translate'), $screen);
  
  @include build-configurable-variants($args...) using ($prefix, $modifier, $state, $value) {
    // If value is negative add `-` before `translate` utility base class.
    @if $value < 0 {
      $prefix: '#{$prefix}-';
    }

    .#{$prefix}translate-y#{$modifier}#{$state} {
      --transform-translate-y: #{$value};
    }
    
    .#{$prefix}translate-x#{$modifier}#{$state} {
      --transform-translate-x: #{$value};
    }
  }
}