@use '../config' as *;
@use '../utils/build-non-configurable-variants' as *;
@use 'sass:map';

@mixin word-break($screen: null) {
  $args: (map.get($variants, 'word-break'), $screen);

  @include build-non-configurable-variants($args...) using ($prefix, $state) {
    .#{$prefix}break-normal#{$state} {
      word-break:    normal;
      overflow-wrap: normal;
    }

    .#{$prefix}break-words#{$state}  { overflow-wrap: break-word; }
    .#{$prefix}break-all#{$state}    { word-break:    break-all;  }
    
    .#{$prefix}truncate#{$state} {
      overflow:      hidden;
      text-overflow: ellipsis;
      white-space:   nowrap;
    }
  }
}