@mixin border-width-sides($suffix, $value, $prefix: '.') {
  $sides: (
    'all': null,
    't': top,
    'r': right,
    'b': bottom,
    'l': left
  );

  @each $side-suffix, $side in $sides {
    $side-suffix: if($side-suffix == 'all', null, '-#{$side-suffix}');
    $suffix: if($suffix == 'default', null, '-#{$suffix}');
    @if $side != null { $side: '#{$side}-'; }

    #{$prefix}border#{$side-suffix}#{$suffix} {
      border-#{$side}width: $value;
    }
  }
}