@mixin build-variants($utility-config, $utility-variants, $screen) {
  $variants: map-get($modules, $utility-variants);

  @if $variants == true or type-of($variants) == list {
    @each $modifier, $value in $utility-config {
      $modifier: if($modifier == 'default', null, '-#{$modifier}');
      $prefix: null;
      @if type-of($value) == 'number' and unit($value) == 'em' { 
        $prefix: '\\*';
      }
      
      // DEFAULT
      @if $screen == null {
        @content($prefix, $modifier, null, $value);

        @if index($variants, 'hover') {
          @content('hover\\:#{$prefix}', $modifier, ':hover', $value);
        }

        @if index($variants, 'group-hover') {
          @content('group:hover .group-hover\\:#{$prefix}', $modifier, null, $value);
        }

        @if index($variants, 'focus') {
          @content('focus\\:#{$prefix}', $modifier, ':focus', $value);
        }
      }
      
      // RESPONSIVE
      @if index($variants, 'responsive') and $screen != null {
        @content('#{$screen}\\:#{$prefix}', $modifier, null, $value);

        @if index($variants, 'hover') {
          @content('#{$screen}\\:hover\\:#{$prefix}', $modifier, ':hover', $value);
        }

        @if index($variants, 'group-hover') {
          @content('#{$screen}\\:.group:hover .group-hover\\:#{$prefix}', $modifier, null, $value);
        }

        @if index($variants, 'focus') {
          @content('#{$screen}\\:focus\\:#{$prefix}', $modifier, ':focus', $value);
        }
      }
    }
  }
}