@mixin build-variants($utility-config, $utility-variants, $screen) {
  $variants: map-get($modules, $utility-variants);

  @if $variants == true or type-of($variants) == list {
    @each $modifier, $value in $utility-config {
      @if $modifier == 'default' and $utility-variants != 'cursor' {
        $modifier: null;
      } @else {
        $modifier: '-#{$modifier}'
      }

      // DEFAULT
      @if $screen == null {
        @content(null, $modifier, null, $value);

        @if index($variants, 'hover') {
          @content('hover\\:', $modifier, ':hover', $value);
        }

        @if index($variants, 'group-hover') {
          @content('group:hover .group-hover\\:', $modifier, null, $value);
        }

        @if index($variants, 'focus') {
          @content('focus\\:', $modifier, ':focus', $value);
        }
      }
      
      // RESPONSIVE
      @if index($variants, 'responsive') and $screen != null {
        @content('#{$screen}\\:', $modifier, null, $value);

        @if index($variants, 'hover') {
          @content('#{$screen}\\:hover\\:', $modifier, ':hover', $value);
        }

        @if index($variants, 'group-hover') {
          @content('#{$screen}\\:.group:hover .group-hover\\:', $modifier, null, $value);
        }

        @if index($variants, 'focus') {
          @content('#{$screen}\\:focus\\:', $modifier, ':focus', $value);
        }
      }
    }
  }
}