@mixin _border-radius-builder($suffix, $value, $prefix:null) {
  // If suffix is ‘default’ don’t add it
  $suffixes: if($suffix == 'default', '', #{'-'+$suffix});

  .#{$prefix}rounded#{$suffixes} { border-radius: #{$value}; }
  .#{$prefix}rounded-tl#{$suffixes} { border-top-left-radius: #{$value}; }
  .#{$prefix}rounded-tr#{$suffixes} { border-top-right-radius: #{$value}; }
  .#{$prefix}rounded-bl#{$suffixes} { border-bottom-left-radius: #{$value}; }
  .#{$prefix}rounded-br#{$suffixes} { border-bottom-left-radius: #{$value}; }

  .#{$prefix}rounded-t#{$suffixes} { 
    border: { top-left-radius: #{$value}; top-right-radius: #{$value}; }
  }
  
  .#{$prefix}rounded-b#{$suffixes} { 
    border: { bottom-left-radius: #{$value}; bottom-right-radius: #{$value}; }
  }
}

@mixin border-radius($breakpoint: null) {
  @each $suffix, $value in $border-radius {
    @include _border-radius-builder($suffix, $value);
  }
}