@mixin flex-directions($breakpoint:null) {
  $prefixes: if($breakpoint, '#{$breakpoint}\\:', null);

  $directions: (
    col-reverse: column-reverse,
    col: column,
    row-reverse: row-reverse,
    row: row,
  );

  @each $suffix, $direction in $directions {
    .#{$prefixes}flex-#{$suffix} { flex-direction: $direction; }
  }
}