// Variants for padding classes
$_available-padding-variants: (responsive, hover, ems);
// Get variant options from paddings module
$_paddings-module: map-get($modules, 'paddings');
// Single-element lists are treated as strings in sass. If '$paddings' module
// contains a string convert it to a list so we can check their values later.
@if type-of($_paddings-module) == string {
  $_paddings-module: append($_paddings-module, ());
}

// Builds padding class variants with suffixes and prefixes passed as arguments.
@mixin _generate-padding-classes($suffix, $value, $prefix:null) {
  .#{$prefix}p-#{$suffix}  { padding: $value; }
  .#{$prefix}px-#{$suffix} { padding: { left: $value; right: $value; } } 
  .#{$prefix}py-#{$suffix} { padding: { top: $value; bottom: $value; } }
  .#{$prefix}pt-#{$suffix} { padding-top: $value; };
  .#{$prefix}pr-#{$suffix} { padding-right: $value; };
  .#{$prefix}pb-#{$suffix} { padding-bottom: $value; };
  .#{$prefix}pl-#{$suffix} { padding-left: $value; };
}

// Check which padding class variants are enabled in the config file. Then 
// generates all classes using '_generate-padding-classes'.
// Note: '$breakpoint' parameter is used for building responsive variants.
@mixin paddings($breakpoint:null)  {
  // Execute only if module is set to true or contains a list of variants
  @if ($_paddings-module == true) or (type-of($_paddings-module) == list) {
    // 1. If user has enabled one or more variants, do some checking.
    // 2. Check if a padding variant has been misspelled or is wrong.
    // 3. Throw an error if previous conditions are met.
    @if type-of($_paddings-module) == list {
      $i:1;      
      @each $variant in $_paddings-module {
        @if not index($_available-padding-variants, $variant) {
          @error 
            "'#{nth($_paddings-module, $i)}' isn't valid. Either you misspelled\s" +
            "it or have set an invalid variant for this module. Please, check\s" +
            "the paddings module in '_config.scss' file.";
        }
        $i: $i + 1;
      }
    }

    @each $suffix, $value in $paddings {
      // # DEFAULT CLASSES
      // 1. If no breakpoints have been passed, generate default classes.
      @if $breakpoint == null {
        @include _generate-padding-classes($suffix, $value);
      }

      // # RESPONSIVE CLASSES
      // 1. Execute if reponsive variant is enabled and breakpoints have been passed.
      // 2. Generate responsive variants.
      @if index($_paddings-module, 'responsive') and ($breakpoint != null) {
        @include _generate-padding-classes($suffix, $value, '#{$breakpoint}\\:');
      }
      
      // # HOVER CLASSES
      // 1. Execute if hover variant is enabled and breakpoints haven't been passed.
      // 2. Generate hover variants.
      @if index($_paddings-module, 'hover') and ($breakpoint == null) {
        @include _generate-padding-classes('#{$suffix}:hover', $value, 'hover\\:');
      }
    }

    // # EM CLASSES
    // 1. Execute if em variant is enabled and breakpoints haven't been passed.
    // 2. Generate em variants.
    @if index($_paddings-module, 'ems') and ($breakpoint == null) {
      @each $suffix, $value in $em-paddings {
        @include _generate-padding-classes($suffix, $value, '\\*');
      }
    }
  }
}