@use "../config";
@use "sass:map";
@use "sass:string";
// SPACING
// Get margin value
@function m($value) {
  $result: map.get(config.$margin, $value);
  @return if($result, $result * 1rem, null);
}

// Get margin (negative)
@function -m($value) {
  $result: map.get(config.$margin-negative, $value);
  @return if($result, $result * -1rem, null);
}

// Get padding
@function p($value) {
  $result: map.get(config.$padding, $value);
  @return if($result, $result * 1rem, null);
}

// Get padding value (em)
@function p-em($value) {
  $result: map.get(config.$padding-em, $value);
  @return if($result, $result * 1em, null);
}

// BOX SHADOW
// Get box shadow
@function shadow($value) {
  @return string.unquote(map.get(config.$box-shadow, $value));
}

// COLORS
@function color($value) {
  @return map.get(config.$colors, $value);
}

// SIZE
// Width
@function w($value) {
  @return map.get(config.$width, $value);
}

// Height
@function h($value) {
  @return map.get(config.$height, $value);
}

// Max height
@function max-h($value) {
  @return map.get($max-eight, $value);
}

// Min height
@function min-h($value) {
  @return map.get(config.$min-height, $value);
}

// Border width
@function border($value) {
  @return map.get(config.$border-width, $value);
}

// Border radius
@function rounded($value) {
  @return map.get(config.$border-radius, $value);
}

// Border radius (em)
@function rounded-em($value) {
  @return map.get(config.$border-radius-em, $value);
}

// Opacity
@function opacity($value) {
  @return map.get(config.$opacity, $value);
}

// Z-index
@function z($value) {
  @return map.get(config.$z-index, $value);
}

// Z-index (negative)
@function -z($value) {
  @return map.get(config.$z-index-negative, $value);
}

// Order
@function order($value) {
  @return map.get(config.$order, $value);
}

// Font size
@function text($value) {
  @return map.get(config.$font-size, $value);
}

// Font size (em)
@function text-em($value) {
  @return map.get(config.$font-size-em, $value);
}

// Font family
@function font-stack($value) {
  @return map.get(config.$font-family, $value);
}

// Line height
@function leading($value) {
  @return map.get(config.$leading, $value);
}

// Tracking
@function tracking($value) {
  @return map.get(config.$tracking, $value);
}

// Font weight
@function font-weight($value) {
  @return map.get(config.$font-weight, $value);
}
